/* Navbar.css */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000; /* Black background for navbar */
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  text-align: center;
}

.navbar-heading {
  margin-left: 20px; /* Space between logo and heading */
}

.navbar .logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
